.DifficultyPicker {
    display: flex;
    justify-content: center;

}

.DifficultyPicker .options-holder {
    width: 400px;

    position: relative;
}

.DifficultyPicker .option {
    width: 133px;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    text-align: center;
    font-size: 2rem;

    transition: transform 0.5s, visibility 0.5s, opacity 0.5s;

    --inactive-scale: 0.5;
    --inactive-translate: 150%;
}

.DifficultyPicker .option p {
    margin: 0;
}

.DifficultyPicker .option.active {
    transform: translateX(0%);
}

.DifficultyPicker .option.innactive {
    opacity: 0.5;
}

.DifficultyPicker .option.hidden {
    opacity: 0;
    visibility: hidden;
}

.DifficultyPicker .option.innactive.left {
    transform: scaleX(var(--inactive-scale)) translateX(calc(var(--inactive-translate) * -1));
}

.DifficultyPicker .option.hidden.left {
    transform: scaleX(0) translateX(-500%);
}

.DifficultyPicker .option.innactive.right {
    transform: scaleX(var(--inactive-scale)) translateX(var(--inactive-translate));
}

.DifficultyPicker .option.hidden.right {
    transform: scaleX(0) translateX(500%);
}

.DifficultyPicker .option.hidden {
    visibility: hidden;
}