.play {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.play .home-button {
    margin-top: 15px;
}

.play .message {
    font-size: 30px;
}

.play .board-container {
    display: flex;

    width: 70%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}